$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: 'Montserrat', sans-serif;
background-image: radial-gradient(circle, #ffc0cb, #ffc1cc, #ffc2cc, #ffc3cd, #ffc4ce, #ffc5cf, #ffc6d0, #ffc7d1, #ffc8d2, #ffcad3, #ffcbd4, #ffccd5);}

body a {
  color: white;
  text-decoration: none;
}

.petit {
height: auto;
max-width: 500px;
width: 100%;
}

ul {
list-style:none;
margin-top: 10px;
padding-top :10px;
}
li {

}

hr{
       height: 2px;
       background-color: white ;
       border: none;
     }


Nav {
  background-color: pink;

  font-family: 'Montserrat', sans-serif;
}

.footer {
  font-family: 'Montserrat', sans-serif;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
